
<div class="row">
    <div class="col-12">
        <h1 class="header text-center">EAT-DA-BURGER</h1>
    </div>
</div>

<div class="row">

    <div class="burgers col-4">
        <h2>Burgers Available:</h2>
        <ul>
            {{#each burgersOnTable}}
            <li><input type="text" placeholder="{{burger_name}}" /><button burger_id={{id}}>DEVOUR</button></li>
            {{/each}}
        </ul>
                
        <div class="input-group burger-form">
        <input type="text" class="form-control" placeholder="New Burger"/>
        <div class="input-group-append">
            <button class="btn btn-outline-light" type="button">Add Burger</button>
        </div>
        </div>

    </div>

    <div class="center-graphic col-4 text-center">
        <img src="/img/burger-graphic.jpg" alt="arms holding burger"/>
    </div>

    <div class="burgers-eaten col-4">
    <h2>Burgers Devoured:</h2>
    <ul>
        {{#each burgersEaten}}
        <li>{{burger_name}}</li>
        {{/each}}
    </ul>
    </div>

</div>








</div>

