body {
    background: #101010 !important;
}

.header {
    font-family: 'Holtwood One SC', serif !important;
    color:white !important;
    margin: 1em !important;
}

h2 {
    font-family: 'Holtwood One SC', serif !important;
    color:white !important;
    font-size: 1.8em !important;
    margin: 0.5em !important;
}

ul {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

li {
    max-width: 85%;
    margin-top:1.5em;
}

li input {
    min-width: 60%;
}

.burger-form {
    margin: 2em;
}

.burger-form button {
    color:white;
    border: 1px solid white;
}

.burger-form input {
    max-width: 50%;
}

img {
    max-height: 35em;
}

button {
   float:right;
}